@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden; 
    background-color: #fff;
}
.pop-box a {
    font-size: 29px;
    font-weight: 100;
    text-decoration: none;
    border-radius: 6px;
    padding: 5px 5px;
    }

.bg-popContainer {
    /* position: relative; */
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    /* top: -89.4%; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.bg-popContainer .pop-box {
    margin: auto;
    width: 500px;
    height: 280px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.cont {
    border-radius: 20px;
}

.closer {
    color: #E10303;
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.pop-txt {
    padding-top: 45px;
    color: #E10303;
    width: 29.9rem;
    align-items: center;
    margin: auto;
    font-size: 2.1rem;
}

.pop-m-txt {
    font-size: 1.192rem;
    padding: 20px;
    width: 26rem;
    align-items: center;
    margin: auto;
}

.closer:hover {
    color: rgb(51, 185, 134);
}

.linka{
    background: #CD8505;
    width: 25rem;
    height: 4.5rem;
    display: flex;
    margin: auto;
    padding-top: 0.8rem;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
}
.timeline_bl{
    position: relative;
    margin-left: 25%;
    margin-top: 0.5%;
    /* opacity: 0.9; */
    background: transparent;
  }

  .bg-popContainer .pop-box a{
    margin-top: 5%;
}
.heading-banner-text1{
    width:85%;
    text-align: center;
height: 16px;
margin-left: 5%;
color: white;
font-size: 4rem;
font-weight: 900;
margin-top: 2.9rem;
}
.heading-banner h5{
    padding-top: 2rem;
    margin: auto;
    color: white;
    margin-bottom: -2.9%;
    font-weight: 100;

}
.timeline{
    position: relative;
    counter-reset: section1;

    display: none;
  }
  
  .timeline li{
    list-style: none;
    float: left;
    width: 33.3333%;
    margin-left: -5%;
    /* padding: 1%; */
    position: relative;
    text-align: center;
    }
  
  /* ul:nth-child(1){
    color: #000;
  } */
  .timeline .active_tl::before{
    background-color: #4caf50;
    content: url("../img/check_40x40.png");
    
  }
  .timeline .active_tl1::before{
    background-color: #4caf50;
    color: white;    
  }

  .timeline li::before{
    counter-increment: section1;
    content: counter(section1);
    width: 50px;
    height: 50px;
    border: 3px solid #4caf50;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #fff;
    color: #000;
    transition: all ease-in-out .3s;
    cursor: pointer;
  }
  
  .timeline li:after{
    content: "";
    position: absolute;
    width: 98%;
    height: 1%;
    background-color: grey;
    top: 25px;
    left: -50%;
    transition: all ease-in-out .3s;
  }
  
  .timeline li:first-child:after{
    content: none;
  }
  .timeline li.active-tl{
    color: #555555;
  }
  .timeline li.active-tl:before{
    /* background: #4caf50; */
    color: #F1F1F1;
  }
  
  .timeline li.active-tl + li:after{
    background: #4caf50;
  }
  .pop-m-txt2{
    display: none;
  }
  .pop-m-txt4{
    display: none;
  }
/* responsiveness */

/* //for 200px to 767px width devices (cover all width between 200px to 767px // */
@media only screen and (min-width: 200px) and (max-width: 519px)  {
    .container{
        width: 100%;
    }
    .heading{
        width: 100%;
        /* height: 20vh; */
    }
    .timeline li{
        width: 40%;
        margin-left: -9.5%;
    }
    .bg-popContainer{
        margin-top: -5.5%;
    }
    .linka{
        width: 100%;
        height: 4rem;
        font-size: 1.2rem;
    }
    .bg-popContainer .pop-box {
    width: 10%;
    margin: auto;
    align-items: center;
    text-align: center;
    }
    .pop-txt{
        width: 100%;
        font-weight: 900;
    }
    .pop-box .pop-m-txt{
        display: none;
    }
    .pop-box .pop-m-txt2{
        display: block;
        width: 85%;
        padding-top: 4%;
        margin: auto;
        font-size: 1.4rem;
        opacity: 0.6;
        font-weight: 100;
    }
    .pop-box .pop-m-txt4{
        color: #394259;
        display: block;
        padding-top: 5%;
        margin: auto;
        width: 90%;
        font-weight: 500;
    }
    .heading-text{
        height: 2rem;
        width: 100%;
    }
    .heading-text h1 {
        width: 90%;
        font-size: 12px;
        line-height: 140%;
        text-shadow: 1px 1px #000;
    }
    .timeline{
        display: block;    
    }
    .timeline_bl{
        display: none;
    }
    .heading-banner{
        display: flex;
        width: 100%;
        height: 81%;
        flex-direction: column;
    }
    .heading-banner-text{
        width: 15rem;
        text-align: center;
    height: 16px;
    margin-top: 2.9rem;
    margin-left: 22%;
    color: white;
    font-size: 21px;
    font-weight: small;

    }
    .r-arrow{
        display: none;
    }
    .heading-banner-img {
        width: 100%;
        height: 29rem;
        display: flex;
        margin: auto;
    }
    
    .heading-banner-img img {
        margin-top: 2.6rem;
        width: 100%;
        height: 100%;
    }
    .timeline{
        width: 100%;
    }
    .timeline li{
        font-size: 19px;
    }
    .bg-popContainer{
        width: 100%;
    }
    .bg-popContainer .pop-box{
        width: 82%;
        height: 60%;
    }
    .linka{
        margin-top: 15%;
    }
    .bg-popContainer .pop-txt{
        font-size: 19px;
        width: 20rem;
    }
    .bg-popContainer .pop-m-txt{
        font-size: 16px;
        width: 20rem;
    }
    .bg-popContainer {
        margin-top: -5.5%;        
    }
}   
/* //for 200px to 767px width devices (cover all width between 200px to 767px // */
@media only screen and (min-width: 520px) and (max-width: 767px)  {
    .container{
        width: 100%;
    }
    .heading{
        width: 100%;
        /* height: 20vh; */
    }
    .heading-text{
        height: 2rem;
        width: 100%;
    }
    .heading-text h1 {
        width: 90%;
        font-size: 12px;
        line-height: 140%;
        text-shadow: 1px 1px #000;
    }
    .heading-banner{
        display: flex;
        width: 100%;
        height: 81%;
        flex-direction: column;
    }
    .bg-popContainer {
        margin-top: -4.5%;
        
    }
    .heading-banner-text{
        width: 14rem;
        text-align: center;
    height: 16px;
    margin-top: 2.2rem;
    margin-left: 32%;
    color: white;
    font-size: 19px;
    /* letter-spacing: px; */
    /* word-spacing: 1px; */
    font-weight: small;

    }
    .r-arrow{
        display: none;
    }
    .heading-banner-img {
        width: 100%;
        height: 27rem;
        display: flex;
        margin: auto;
    }
    
    .heading-banner-img img {
        margin-top: 2rem;
        width: 100%;
        height: 100%;
    }
    .timeline_bl{
        display: none;
    }
    .timeline{
        display: block;
    }
}   

/* for 768px to 1024px width devices(covers all width between 768px to 1024px //    */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
        .container{
            width: 100%;
        }
        .heading{
            width: 100%;
            /* height: 20vh; */
        }
        .heading-text{
            height: 2rem;
            width: 100%;
        }
        .heading-text h1 {
            font-size: 14px;
            line-height: 100%;
            text-shadow: 1px 1px #000;
        }
        .heading-banner{
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
        }
        .timeline_bl{
            margin-left:8%;
            width: 80%;
        }
        .timeline_bl svg{
            width: 100%;
            
        }
        .heading-banner-text{
            width: 17rem;
            text-align: center;
        height: 16px;
        margin-top: 4rem;
        margin-left: 35%;
        color: white;
        font-size: 24px;
        letter-spacing: 1px;
        /* word-spacing: 1px; */
        font-weight: small;
    
        }
        .r-arrow{
            display: block;
        }
        .heading-banner-img {
            width: 95%;
            height: 40rem;
            display: flex;
            margin: auto;
        }
        
        .heading-banner-img img {
            margin-top: 3.7rem;
            width: 100%;
            height: 100%;
        }  
}
/* for 1025px to 1616px width devices(covers all width between 768px to 1024px //    */
@media only screen and (min-width: 1025px) and (max-width: 1616px)  {
        .container{
            width: 100%;
        }
        .heading{
            width: 100%;
            /* height: 20vh; */
        }
        .heading-text{
            height: 2rem;
            width: 100%;
        }
        .heading-text h1 {
            font-size: 14px;
            line-height: 100%;
            text-shadow: 1px 1px #000;
        }
        .timeline_bl{
            margin-left:8%;
            width: 80%;
        }
        .timeline_bl svg{
            width: 100%;
            
        }
        .heading-banner{
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
        }
        .heading-banner-text{
            width: 17rem;
            text-align: center;
        height: 16px;
        margin-top: 4rem;
        margin-left: 35%;
        color: white;
        font-size: 24px;
        letter-spacing: 1px;
        /* word-spacing: 1px; */
        font-weight: small;
    
        }
        .r-arrow{
            display: block;
        }
        .heading-banner-img {
            width: 65%;
            height: 40rem;
            display: flex;
            margin: auto;
        }
        
        .heading-banner-img img {
            margin-top: 3.7rem;
            width: 100%;
            height: 100%;
        }      
}
